
<div class="nav-cover"></div>
<div class="nav-cover"></div>
<div class="container">
    <div class="row">
      <a href="#" class="btn btn-link btn-info" [routerLink]="['/posts/create']" routerLinkActive="router-link-active" >create</a>
    </div>
    <div class="row">
      <table  class="table">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th>Date</th>
            <th>Title</th>
            <th class="">Content</th>
            <th class="">Author</th>
            <th class="text-center">Replies</th>
            <th class="text-center">Views</th>
            <th class="text-center">Likes</th>
            <th class="text-center"></th>
          </tr>
        </thead>
        <tbody >
          <tr class="ng-star-inserted" *ngFor="let post of posts; index as i">
            <td class="text-center">{{i + 1}}</td>
            <td> {{ post.createdAt | postTime }}</td>
            <td><a routerLink="{{post.postId}}" routerLinkActive="router-link-active">{{ post.title }}</a></td>
            <td class="">{{ post.content}}</td>
            <td class="">
              <div class="author-profile">
                <img 
                class="img-circle img-no-padding img-responsive" 
                [src]="post.author.photoURL"
                [alt]="post.author.name" 
                >
              </div>
            </td>
            <td class="text-center">
              {{post.comments | async }}
            </td>
            <td>{{post.views}}</td>
            <td>{{post.likes | async}}</td>
            <td>
              <div class="d-flex">
                <app-fln-like [post]="post"></app-fln-like>
                <button class="btn btn-warning" (click)="editPost(post)">edit</button>
                <button class="btn btn-danger" (click)="deletePost(post)">delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- sample data -->
    <small *ngIf="posts">
      <h3>POST LIST</h3>
      <pre>
          {{ posts | json }}
      </pre>
  </small>
  <!-- sample -->
</div>

