.author-profile {
  & img {
    height: 3rem;
  }
}
.c-post-content-detail {
  flex-basis: 100%;
  text-align: center;
  margin-top: 20px;
}
.post {
  &-box {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    &:hover {
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, .4);
        }
        & .post-content {
          flex-wrap: wrap;
          opacity: 1;
        }
      }
  }

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 2;
    opacity: 0;
  }
}

::ng-deep .mat-dialog-container {
  padding: 0 !important;
  border-radius: 0;
  box-shadow: none !important;
  background-color: transparent !important;

 
}


::ng-deep .cdk-overlay-dark-backdrop {
  background: rgba(0,0,0,.5);
}