<section >
  <div class="container">
    <div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
    >
      <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let post of posts; index as i">
          <a (click)="clickPost(post, i)">
            <div class="post">
              <div class="post-box" style="box-shadow: 3px 2px 5px;">
                <div class="post-bg" [ngStyle]="{'backgroundImage': getBackgroundImageUrl(post)}">
                </div>
                <div class="post-content">
                  <div class="mr-4"> <i class="fa fa-heart"></i> {{post.likes.length}} </div>
                  <div> <i class="nc-icon nc-chat-33"></i> {{post.comments.length}} </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <app-spinner [show]="showSpinner"></app-spinner>
    <div class="row">
        <div class="mx-auto mt-5 mb-3 monoton" *ngIf="postsEnd">
            <h4>
                Sorry. no more posts
            </h4>
        </div>
    </div>
    <div class="text-center" *ngIf="isWriteable">
      <a href="#" class="btn btn-warning" [routerLink]="['p/create']"
        routerLinkActive="router-link-active">create</a>
    </div>
  </div>
</section>
<div>
  <router-outlet></router-outlet>
</div>

<!-- <small *ngIf="posts">
      <h3>POST LIST</h3>
      <pre>
          {{ posts | json }}
      </pre>
    </small> -->
