<div class="section section-dark text-center">
  <div class="container">
    <h2 class="title">Let's talk</h2>
  </div>
</div>
<section>
  <div class="container">
    <div class="row">
      <a href="#" class="btn btn-link btn-info" [routerLink]="['/posts/create']"
        routerLinkActive="router-link-active">create</a>
    </div>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let post of posts; index as i">
        <a (click)="clickPost(post, i)">
          <div class="post">
            <div class="post-box">
              <div class="post-bg" [ngStyle]="{'backgroundImage': getBackgroundImageUrl(post)}">
              </div>
              <div class="post-content">
                <div class="mr-4"> <i class="fa fa-heart" [ngClass]="{ heart: isLiked }"></i> {{post.likes.length}} </div>
                <div> <i class="nc-icon nc-chat-33"></i> {{post.comments.length}} </div>
              </div>
            </div>
          </div>
        </a>
        <!-- <button class="btn btn-warning" (click)="editPost(post)">edit</button>
        <button class="btn btn-danger" (click)="deletePost(post)">delete</button> -->
      </div>
    </div>
   
  </div>
</section>
<div>
  <router-outlet></router-outlet>
</div>


 <!-- <small *ngIf="posts">
      <h3>POST LIST</h3>
      <pre>
          {{ posts | json }}
      </pre>
    </small> -->