
<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 text-center full-width">
      <button type="button" class="btn btn-info eighty-percent-width" (click)='showCharsInfo()'>Charles's Portfolio</button>
    </div>
    <div class="col-md-6 text-center full-width">
      <button type="button" class="btn btn-info eighty-percent-width" (click)='showDaniInfo()'>Daniel's Portfolio</button>
    </div>
  </div>
</div>


<div *ngIf="!toggleInfo">
  <app-charles-info></app-charles-info>
</div>
<div *ngIf="toggleInfo">
  <app-daniel-info></app-daniel-info>
</div>
