<!-- <div class="page-header" style="background-image: url('assets/img/antoine-barres.jpg')">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>Charles Cho</h1>
      <h3>I am a front end developer</h3>
      <br />
      <a href="#" class="btn btn-outline-neutral btn-round mr-3"><i class="fa fa-play"></i>View my works</a>
      <button type="button" class="btn btn-outline-neutral btn-round">
        Explor me
      </button>
    </div>
    <div class="fog-low">
      <img src="assets/img/fog-low.png" alt="" />
    </div>
  </div>
  <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
</div> -->

<div class="main">
  <div class="section text-center">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card-avatar">
            <img src="./assets/img/charles1.png" alt="charles" class="c-image-circle"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Let's talk about "Charles"</h2>
          <h5 class="description">
            I am an individual who really loves JavaScript. On my second semester at college, I took a JavaScript course
            and I was really into it. Since then, I decided to be a JavaScript developer and studied more extensive
            JavaScript such as React, Vues, node.js. I have been working on many projects using JavaScript in back-end and
            front-end development.
          </h5>
          <br />
          <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a>
        </div>
      </div>
      <br /><br />
      <div class="row">
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-album-2"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Beautiful Design</h4>
              <p class="description">
                Spend your time generating new ideas. You don't have to think of
                implementing.
              </p>
              <a href="#pkp" class="btn btn-link btn-danger">See more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-bulb-63"></i>
            </div>
            <div class="description">
              <h4 class="info-title">New Ideas</h4>
              <p>
                Larger, yet dramatically thinner. More powerful, but remarkably
                power efficient.
              </p>
              <a href="#pkp" class="btn btn-link btn-danger">See more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-chart-bar-32"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Program solving</h4>
              <p>
                Choose from a veriety of many colors resembling sugar paper
                pastels.
              </p>
              <a href="#pkp" class="btn btn-link btn-danger">See more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-sun-fog-29"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Delightful design</h4>
              <p>
                Find unique and handmade delightful designs related items directly
                from our sellers.
              </p>
              <a href="#pkp" class="btn btn-link btn-danger">See more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="my-5">
    <app-resume></app-resume>
  </div>
</div>
<div class="">
    <app-projects></app-projects>
  </div>
  
  <!-- <div class="my-5">
    <app-contact-us></app-contact-us>
  </div> -->