<div>
  <div class="row">
    <div class="col-md-12">
      <h5>Select Avatar</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4" *ngFor="let picture of profilePictures">
      <div>
        <img
          class="img-thumbnail"
          [src]="picture.url"
          (click)="updatePicture(picture)"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div>
      <label>
          <input type="file" (change)="detectFiles($event)">
        </label>
      <button (click)="uploadFile()">
        <ion-icon name="add"></ion-icon>
      </button>
    </div>
  </div>
</div>
