.input-group {
  width: 500px;
  max-width: 500px;
  // display: none;
}
@media screen and (max-width: 991px) {
  .nav-item-desc {
    display:flex;
    align-items: center;
  }
  .m-nav-icon {
    right: 0 !important;
    top: 0 !important;
    margin-right: 10px;
  }
  .m-nav-dropdown {
    padding: 0 !important;
  }
  .dropdown-menu {
    overflow: hidden !important;
  }
}
