.c-img-thumnail {
    height: 3rem;
    margin-right: 1rem;
}
.c-body-content {
    min-width: 30rem;
    min-height: 3.5rem;
}


.btn-info:active {
    color: #51bcda !important;
    background-color: white !important;    
}