<div class="nav-cover"></div>
<div class="nav-cover"></div>
<div class="container">
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header"><h5 class="card-title">Create Post</h5></div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Comment</label
              ><textarea
                class="form-control textarea"
                rows="10"
                placeholder="Write anything..."
                [formControl]="commentForm"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="update ml-auto mr-auto">
            <button
              class="btn btn-primary btn-round"
              type="submit"
              (click)="onSubmit()"
            >
              POST
            </button>
          </div>
        </div>
        <a
          href="#"
          class="btn btn-link btn-info"
          [routerLink]="['/posts']"
          routerLinkActive="router-link-active"
          >go back</a
        >
      </div>
    </div>
  </div>
</div>

<div class="comments">
  <ul class="list-group">
    <li *ngFor="let comment of commentList; index as i" class="list-group-item">
      <div class="d-flex justify-content-between w-50">
        <div>
          {{ comment.comment }}
        </div>
        <div>
          {{ comment.createdAt }}
        </div>
        <div>
          {{ comment.author.displayName }}
        </div>
        <div>
          <button
            type="button"
            (click)="addLike(comment)"
            class="btn btn-info btn-just-icon"
          >
            <i class="fa fa-heart"></i>Like
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
<small *ngIf="commentList">
  <h3>COMMENT LIST</h3>
  <pre>
      {{ commentList | json }}
  </pre>
</small>
