.c-img-thumnail {
    height: 2rem;
    margin-right:0;
}
.c-body-content {
    min-width: 30rem;
    min-height: 3.5rem;
}

.btn-info:active {
    color: #51bcda !important;
    background-color: white !important;    
}

.cd-comment {
    align-items: center;
    font-size: .8rem;
    h6 {
        margin: 0;
    }
    &-content {
        display: flex;
        align-items: center;
        & p {
            font-size: inherit;
        }
    }

    &-function {
        display: flex;
        align-items:center;
        font-size: .8rem;
    }
    .cd-comment-reply {
        font-weight:500;
    }
}