<div class="p-1" *ngIf="comment">
  <div class="media cd-comment">
    <div class="align-self-baseline mt-1 mr-3" href="#">
      <div class="">
        <img
          alt="Tim Picture"
          class="media-object c-img-thumnail img-circle img-no-padding img-responsive"
          src="{{ comment.author.photoURL }}"
        />
      </div>
    </div>
    <div class="media-body">
      <div class="cd-comment-content">
        <div>
          <h6 class="media-heading mr-3">{{ comment.author.displayName }}</h6>
        </div>
        <p class="flex-grow-1">
          {{ comment.comment }}
        </p>
        <app-fln-like [comment]="comment"></app-fln-like>
      </div>
      <div class="cd-comment-function">
        <div class="mr-3">
          <span
            class="text-muted"
            *ngIf="comment.hasOwnProperty('updatedAt'); else createAt"
          >
            {{ comment.updatedAt | postTime }}
          </span>
          <ng-template #createAt
            ><span class="text-muted">
              {{ comment.createdAt | postTime }}
            </span></ng-template
          >
        </div>
        <div>
          <a class="cd-comment-reply" (click)="addReply(comment)">reply</a>
        </div>
      </div>
      <div *ngIf="comment.comments.length > 0">
        <a (click)="showReplies($event, comment)">replies ({{comment.comments.length}})</a>
      </div>
    </div>
  </div>
  
  <!-- Sub Comment -->
  <div *ngIf="isCommentVisible">
    <div class="media cd-comment ml-5" *ngFor="let sc of comment.comments">
      <div class="align-self-baseline mt-1 mr-3" href="#">
        <div class="">
          <img
            alt="Tim Picture"
            class="media-object c-img-thumnail img-circle img-no-padding img-responsive"
            src="{{ sc.author.photoURL }}"
          />
        </div>
      </div>
      <div class="media-body">
        <div class="cd-comment-content">
          <div>
            <h6 class="media-heading mr-3">{{ sc.author.displayName }}</h6>
          </div>
          <p class="flex-grow-1">
            <a href="#">{{sc.commentTag}}</a> {{ sc.comment }}
          </p>
          <app-fln-like [comment]="sc"></app-fln-like>
        </div>
        <div class="cd-comment-function">
          <div class="mr-3">
            <span
              class="text-muted"
              *ngIf="comment.hasOwnProperty('updatedAt'); else createAt"
            >
              {{ sc.updatedAt | postTime }}
            </span>
            <ng-template #createAt
              ><span class="text-muted">
                {{ sc.createdAt | postTime }}
              </span></ng-template
            >
          </div>
          <div>
            <a class="cd-comment-reply" (click)="addReply(sc)">reply</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
