<div class="page-header" style="background-image: url('assets/img/antoine-barres.jpg')">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>Charles Cho</h1>
      <h3>I am a front end developer</h3>
      <br />
      <a href="#" class="btn btn-outline-neutral btn-round mr-3"><i class="fa fa-play"></i>View my works</a>
      <button type="button" class="btn btn-outline-neutral btn-round">
        Explor me
      </button>
    </div>
    <div class="fog-low">
      <img src="assets/img/fog-low.png" alt="" />
    </div>
  </div>
  <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
</div>

<div class="main">
  <div class="my-5">
    <div class="container">
      <h2 class="title text-center">Let's share your thought with pictures</h2>
    </div>
    <div class="my-5">
      <!-- <app-post-list></app-post-list> -->
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="my-5">
    <app-projects></app-projects>
  </div>
  <div class="my-5">
    <app-resume></app-resume>
  </div>
  <div class="my-5">
    <app-contact-us></app-contact-us>
  </div>
</div>
