<div class="container">
    <div class="card card-user">
      <div class="card-header"><h5 class="card-title">Create Post</h5></div>
      <div class="card-body">
        <form novalidate [formGroup]="postFormGroup">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Title</label
                ><input
                  class="form-control"
                  placeholder="Title "
                  type="text"
                  formControlName="title"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div ngbDropdown class="d-inline-block dropdown col-md-12 mb-2">
              <a class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle
                >Category</a
              >
              <div
                ngbDropdownMenu
                aria-labelledby="dropdownBasic1"
                class="dropdown-primary"
              >
                <a class="dropdown-header">Dropdown header</a>
                <a class="dropdown-item">Action</a>
                <a class="dropdown-item">Another action</a>
                <a class="dropdown-item">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item">Separated link</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item">Another separated link</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label>Category</label
                ><input
                  class="form-control"
                  placeholder="Company"
                  type="text"
                  value="category"
                />
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label>Tags</label
                ><input
                  class="form-control"
                  placeholder="Last Name"
                  type="text"
                  value="Tags"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Content</label
                ><textarea
                  class="form-control textarea"
                  rows="10"
                  placeholder="Write anything..."
                  formControlName="content"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-3">
              <input hidden type="file" #uploader (change)="uploadFiles($event)" multiple/>
              <button
                class="btn btn-outline-primary btn-round "
                type="button"
                (click)="uploader.click()"
              >
                Add pictures
              </button>
            </div>
            <div *ngFor="let file of files">
             
              <app-wgt-upload-task [file]="file" (fileStatusEmit)="updateFileStatusEmit($event)"></app-wgt-upload-task>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button
                class="btn btn-primary btn-round"
                type="submit"
                (click)="onSubmit()"
              >
                POST
              </button>
            </div>
          </div>
        </form>
        <a
          href="#"
          class="btn btn-link btn-info"
          (click)="close()"
          routerLinkActive="router-link-active"
          >go back</a
        >
      </div>
    </div>
</div>

