<div class="nav-cover"></div>
<div class="forum">
  <div class="container">
    <table class="table">
      <thead>
        <th colspan="4">Topic</th>
        <th>Replies</th>
        <th>Views</th>
        <th>Activity</th>
      </thead>
      <tbody>
        <tr>
          <td colspan="4">
            hello
          </td>
          <td>
            replies
          </td>
          <td>
            Views
          </td>
          <td>
            ACtivity
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>