<!-- Main content -->
<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <main class="section">
        <div class="inner-adjust">
          <div class="border-bottom">
            <h2 class="h2 mb-3">Hello {{ fullName }}</h2>
          </div>
          <!-- Show user data when logged in -->
          <div class="row">
            <div class="col-md-12">
              <div class="media align-items-center mt-5">
                <img class="img-circle img-no-padding img-responsive mr-5 c-user-img" src="{{user.photoURL}}"
                  alt="{{ user.displayName }}" />
                <div class="media-body mb-3">
                  <p>
                    Name: <strong>{{ fullName }}</strong>
                  </p>
                  <p>
                    Email: <strong>{{ user.email }}</strong>
                  </p>
                  <p>
                    Email Verified: <strong>{{ user.emailVerified }}</strong>
                  </p>
                  <hr />
                  <div class="d-flex">
                    <p>{{ numOfPosts }} <strong> posts </strong></p>
                    <p class="ml-4">
                      {{ numOfComments }} <strong> comments </strong>
                    </p>
                    <p class="ml-4">
                      {{ numOfLikes }} <strong> likes </strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <!-- User activities  -->
    <section>
      <div>
        <ngb-tabset [destroyOnHide]="false" class="w-100">
          <ngb-tab>
            <ng-template ngbTabTitle><h4>Bookmarked Posts</h4></ng-template>
            <ng-template ngbTabContent>
              <app-post-list [postObservable]="bookmarkedObservable" [bookmarkValid]="true" [postLimit]="postLimit" [noMessage]="bookmarkedMessage" (messageEmit)="noMessage($event)"></app-post-list>
             <!--  <div *ngIf="message">
                <h4>{{ message }}</h4>
              </div> -->
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><h4>Commented Posts</h4></ng-template>
            <ng-template ngbTabContent>
              <app-post-list [postObservable]="commentedObservable" [commentedValid]="true" [postLimit]="postLimit" [noMessage]="commentedPostMessage" (messageEmit)="noMessage($event)"></app-post-list>
              <!-- <div *ngIf="message">
                <h4>{{ message }}</h4>
              </div> -->
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </section>
    </div>
  </div>
</div>
    
    
    




<!-- <div *ngFor="let bookmarkedPost of bookmarkedPosts">
          <div *ngIf="bookmarkedPosts.length !== 0; else lpValid">
              <div class="media">
                <a [routerLink]="['p/', bookmarkedPost.postId]" routerLinkActive="router-link-active">
                  <img class="img-thumbnail img-responsive c-img-thumnail mr-3" src="{{bookmarkedPost.photoURLs[0]}}"
                    alt="{{bookmarkedPost.title}}" />
                </a>
                <div class="media-body">
                  <div class="d-flex justify-content-between">
                    <h5 class="mt-0">{{ bookmarkedPost.title }}</h5>
                    <span>{{ bookmarkedPost.createdAt | postTime }}</span>
                  </div>
                  <p>{{ bookmarkedPost.content }}</p>
                </div>
              </div>
            </div>
          </div> -->