<section class="resume">
  <div class="container">
    <header>
      <h2 class="section-heading__title text-center">Resume</h2>
      <div class="section-line text-right">
        3 years experience
      </div>
    </header>
    <div class="row mb-5">
      <div class="col-lg-7 mb-5">
        <div class="resume__main mx-3">
          <div class="">
            <h3 class="sub-heading__title">
              EXPERIENCES
            </h3>
          </div>

          <ul class="resume-experience">
            <li>
              <div class="resume-left">
                <div class="date">
                  <strong class="">
                    May. 2019 to Current
                  </strong>
                </div>
              </div>
              <div class="resume-divider">
                <div class="resume-divider__line"></div>
              </div>
              <div class="resume-right">
                <div class="position mb-3">
                  <strong>
                    Ubix Innovation Inc. - Front-end developer
                  </strong>
                  <div class="link">
                    <!-- <a href="www.google.com">
                      www.google.com
                    </a> -->
                  </div>
                </div>

                <div class="paragraph">
                  Vivamus lectus nibh, dignissim in accumsan in, tempus eget
                  urna. Aliquam id quam in magna varius pharetra ac eget est.
                  Nullam ornare gravida volutpat. Nunc at quam eget ligula
                  vehicula imperdiet in id tortor. Donec vehicula aliquet
                  tellus, id lacinia justo euismod sit amet fusce.
                </div>
              </div>
            </li>
            <li>
              <div class="resume-left">
                <div class="date">
                  <strong class="">
                    Sept. 2009 to Jul. 2012
                  </strong>
                </div>
                <!-- <div class="employer">
                  <span> Pilgrim Community Church </span>
                </div> -->
              </div>
              <div class="resume-divider">
                <div class="resume-divider__line"></div>
              </div>
              <div class="resume-right">
                <div class="position mb-3">
                  <strong>
                    Pilgrim Community Church - Web developer
                  </strong>
                  <div class="link">
                    <a href="http://www.pilgrimcc.ca">
                      www.pilgrimcc.ca
                    </a>
                  </div>
                </div>
                <div class="paragraph">
                  Vivamus lectus nibh, dignissim in accumsan in, tempus eget
                  urna. Aliquam id quam in magna varius pharetra ac eget est.
                  Nullam ornare gravida volutpat. Nunc at quam eget ligula
                  vehicula imperdiet in id tortor. Donec vehicula aliquet
                  tellus, id lacinia justo euismod sit amet fusce.
                </div>
              </div>
            </li>
          </ul>
          <div class="">
            <h3 class="sub-heading__title">
              EDUCATION
            </h3>
          </div>
          <ul class="resume-experience">
            <li>
              <div class="resume-left">
                <div class="date">
                  <strong class="">
                    Sept. 2015 to Jul. 2017
                  </strong>
                </div>
                <!--  <div class="employer">
                  <span> Seneca College </span>
                </div> -->
              </div>
              <div class="resume-divider">
                <div class="resume-divider__line"></div>
              </div>
              <div class="resume-right">
                <div class="position mb-3">
                  <strong>
                    Computer Programming - Diploma
                  </strong>
                  <strong>
                    Seneca College
                  </strong>
                  <!--  <div class="link">
                    <a href="https://www.senecacollege.ca/home.html">
                        https://www.senecacollege.ca
                    </a>
                  </div> -->
                </div>
                <div class="paragraph">
                  Cumulative GPA 3.8 / 4
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-5 mb-5">
        <div class="coding-skill mx-3">
          <div>
            <div class="">
              <h3 class="sub-heading__title">CODING SKILLS</h3>
            </div>
            <ul class="skill-list">
              <li>
                <div class="skill-container">
                  <div class="skill-title">HTML5</div>
                  <div class="skill-percentage">95%</div>
                  <div class="skill-bar">
                    <div></div>
                  </div>
                </div>
              </li>
              <li>
                <div class="skill-container">
                  <div class="skill-title">JavaScript / TypeScript</div>
                  <div class="skill-percentage">90%</div>
                  <div class="skill-bar">
                    <div></div>
                  </div>
                </div>
              </li>
              <li>
                <div class="skill-container">
                  <div class="skill-title">React / Angular / Angular</div>
                  <div class="skill-percentage">85%</div>
                  <div class="skill-bar">
                    <div></div>
                  </div>
                </div>
              </li>
              <li>
                <div class="skill-container">
                  <div class="skill-title">CSS / Bootstrap / SASS</div>
                  <div class="skill-percentage">90%</div>
                  <div class="skill-bar">
                    <div></div>
                  </div>
                </div>
              </li>
              <li>
                <div class="skill-container">
                  <div class="skill-title">Node.js</div>
                  <div class="skill-percentage">70%</div>
                  <div class="skill-bar">
                    <div></div>
                  </div>
                </div>
              </li>
              <li>
                <div class="skill-container">
                  <div class="skill-title">Git / Gulp / Webpack</div>
                  <div class="skill-percentage">70%</div>
                  <div class="skill-bar">
                    <div></div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
